/* src/components/Stegosaurus.css */
.stego {
    --stego-color: #c47f00; /* Default stego color */
    width: 16em;
    height: 20em;
    margin: 0 auto;
    position: relative;
    animation: walk-bounce-animation 1.5s infinite;
  }
  
  /* Define styles for stego body parts, similar to T-Rex */
  .stego__head,
  .stego__body,
  .stego__tail {
    background-color: var(--stego-color);
  }
  
  /* Add more specific styles for Stegosaurus */
  